
<div class="dropzone text-center" {{action (action 'openFilePicker')}}>
  <h2>Upload GPX Route</h2>
  <div class="dropzone-body-text">
    <h5>Drag and Drop here</h5>    
    - or -
    <h5>click anywhere here</h5>
  </div>
</div>
{{yield}}