<div class="file-uploader">
  <div class="dropzone-text text-center">
    <h2>Upload GPX Route</h2>
    <h5>Drag and Drop here</h5>
  </div>
</div>

  <!--<label for="new-file">Upload a file</label>
  <input type="file" name="new-file" id="new-file"/>-->


