<div class="list-group">
    {{#each sortedPeople as |person|}}
        <a href="#" class="list-group-item">
            <div class="row vertical-align">
                <div class="col-xs-2 col-sm-1">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object vertical-align" src="..." alt="...">
                        </a>
                    </div>
                </div>
                <div class="col-xs-10 col-sm-6">
                    <h2>{{person.fullName}}</h2>
                    <p>Home Base : Boulder, Colrado, USA</p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    {{person-status statusText=person.status}}
                </div>
                <div class="col-xs-6 col-sm-2">
                    <h5 class="text-right"># active / pending treks</h5>
                </div>        
            </div>
        </a>
    {{/each}}
</div>