<div class="row">
    <div class="col-xs-2 col-sm-2 pull-left">
        <p>x results</p>
    </div>
    <div class="col-xs-2 col-sm-2 pull-right">
        <button class="btn btn-primary">Filter</button>
    </div>
</div>

<div class="list-group">
    {{#each sortedTrails as |trail|}}
        <a href="#" class="list-group-item">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div class="media-left vertical-align">
                        <img class="media-object" src="...}" alt="...">
                    </div>
                </div>
            </div>
            <h4>{{trail.name}}</h4>
        </a>
    {{/each}}
</div>
{{yield}}