<div class="row vertical-align">
    <div class="col-xs-2 col-sm-2 pull-left">
        <h4>{{count}} result(s)</h4>
    </div>
    <div class="col-xs-8 col-sm-8">
        &nbsp;
    </div>
    <div class="col-xs-2 col-sm-2 clearfix">
        <button class="btn btn-primary pull-right">Filter by...</button>
    </div>
</div>
&nbsp;
<div class="list-group">
    {{#each trailsList as |trail|}}
        <a href="#" class="list-group-item">
            <div class="row vertical-align">
                <div class="col-xs-12 col-sm-12">
                    <div class="media-left vertical-align">
                        <img class="media-object" src="..." alt="...">
                    </div>
                </div>
            </div>
            <h4>{{trail.name}}</h4>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <p class="text-right">Recording - Last updated {{trail.updatedAt}}</p>
                </div>
            </div>            
        </a>
    {{/each}}
</div>

