<h2 class="text-center">
  Create New Employee
</h2>
<br/>
<form class="form-horizontal">

  <div class="form-group">
    <label class="col-xs-2 col-md-2 control-label">
      Last Name
    </label>
    <div class="col-xs-10 col-md-10">
        {{input type="text" value=nil class="form-control" placeholder="The person's last name'"}}
    </div>
  </div>

  <br/>
</form>

{{outlet}}
