<h1 class="text-center">Create New Enhanced Information Trek</h1>
<div class="page-body">

  <div class="row">  
    <div class="col-xs-12">
      {{partial 'partials/file-uploader'}}
      
    </div>
  </div>
  {{outlet}}
</div>