<div class="container-fluid">
	<div class="firstrow">
		<div class="row">
			<div class="col-sm-12">
				{{partial 'navbar'}}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 col-lg-2">
				{{partial 'navbar-side'}}
			</div>
			<div class="col-sm-9 col-lg-10">
				<div class="container-fluid">
					{{outlet}}
				</div>
			</div>
		</div>
	</div>
</div>