<div class="container-fluid">
    <div class="firstrow">
    <div class="row">
        <div class="col-sm-12">
            {{partial 'navbar'}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <nav class="collapse navbar-collapse" id="main-navbar">
                <ul class="nav nav-pills nav-stacked">
                    {{#nav-link-to 'home'}}Home{{/nav-link-to}}
                    {{#nav-link-to 'treks'}}Manage Treks{{/nav-link-to}}
                    {{#nav-link-to 'people'}}Manage Team Members{{/nav-link-to}}
                </ul>
            </nav>
        </div>
        <div class="col-sm-9 col-lg-10">
            <div class="container-fluid">
                {{outlet}}
            </div>
        </div>
    </div>
    </div>
</div>