<div class='page-header'>
  <div class="btn-toolbar pull-left">
    <div class='btn-group'>
      <button type='button' class='btn btn-primary'>Get Started</button>
    </div>
  </div>
  <h1 class="text-right">Welcome Home to Art of the Trek</h1>
</div>
<div class="jumbotron text-center">
  <p>Here you can manage treks, people etc...</p>
</div>