<nav class="collapse navbar-collapse" id="navbar-side">
  <ul class="nav nav-pills nav-stacked">
    {{#nav-link-to 'home'}}Home{{/nav-link-to}}
    {{#nav-link-to 'trails'}}Manage Trails{{/nav-link-to}}
    {{#nav-link-to 'employees'}}Manage Team Members{{/nav-link-to}}
  </ul>
</nav>