<nav class="navbar navbar-default">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to 'index' class='navbar-brand'}}AOTT{{/link-to}}
      </div>

      <h3 class="navbar-text nav nav-center">Enhanced Information Treks</h3>
      <p class="navbar-text navbar-right">Michael Mouse</p>
    </div>
  </div>
</nav>