<div class="page-header">
  <div class="btn-toolbar pull-left">
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Add New Person</button>    
    </div>
  </div>
  <h1 class="text-right">Manage Team Members</h1>
</div>

<div class="page-body">
{{outlet}}
</div>