<div class="page-header">
  <div class="btn-toolbar pull-left">
    <div class="btn-group">
      {{add-new-button}}
    </div>
  </div>
  <h1 class="text-right">Manage Trails</h1>
</div>

<div class="page-body">
  {{outlet}}
</div>