<div class='page-header'>
  <div class="btn-toolbar pull-left">
    <div class='btn-group'>
      <button type='button' class='btn btn-primary'>Add New</button>
    </div>
  </div>
  <h1 class="text-right">Manage Treks</h1>
</div>

<div>
{{outlet}}
</div>