@import "_variables";
@import "bootstrap";
@import "trailcard";
@import "placeholder";
@import "gpxfile-uploader";
@import "ember-power-select";

fix some issues with the ember-power-select 
.ember-power-select {
 align-self: center;
  border-radius: 0;
}
.ember-power-select-trigger {
 display: flex;
 align-items: center;
 min-height: 28px;
 padding-left: 4px;
 border-radius: 0;
}
.ember-power-select-search {
  border-radius: 0;
}
.ember-power-select-dropdown {
  border-radius: 0;
}
.ember-basic-dropdown-trigger {
  margin-right: 6px;
}

body {
  padding-top: 20px;
}

// html {
//     overflow-y: scroll;
// }

.container-fluid {
  margin-right: 15px !important;
  margin-left: 15px !important;
}

// BS3 navbar-fixed-top will not work for this navbar without messing up the layout
.navbar-fixed-top {
  margin-right: 25px !important;
  margin-left: 25px !important;
}

// specifically next two nav styles are used to center the text in the middle of the navbar
.nav.nav-center {
  display: inline-block;
  left: 0;
  right: 0;
  margin-top: 20px;
  float: none;
}
.navbar-inner{
  text-align: center;
}

// see http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3
.vertical-align {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) { 
  .row.vertical-align {
    display: block; /* turn off the flexible box layout */
  }
}

// used to colour the different enum status for an employee
.personStatus
  .unknown {
    color: $gray-lightest;
  }
.personStatus    
  .no-longer-employed {
    color: $gray-lighter;
  }
.personStatus    
  .standby {
    color: $brand-warning;
  }
.personStatus    
  .active {
    color: $brand-success;
  }

// make the navigation pill hover background match the primary button hover bg
.nav-pills > li.active > a:hover {
  background: darken($brand-primary, 15%);
}

.error-text {
  color: $brand-danger;
}

.hideField {
  display: hidden;
}

.btn {
  padding-left: 20px;
  padding-right: 20px;
}