@import "_variables";
@import "bootstrap";
@import "trailcard";
@import "placeholder";

body {
  padding-top: 20px;
}

// html {
//     overflow-y: scroll;
// }

.container-fluid {
  margin-right: 15px !important;
  margin-left: 15px !important;
}

// BS3 navbar-fixed-top will not work for this navbar without messing up the layout
.navbar-fixed-top {
  margin-right: 25px !important;
  margin-left: 25px !important;
}

// specifically next two nav styles are used to center the text in the middle of the navbar
.nav.nav-center {
  display: inline-block;
  left: 0;
  right: 0;
  margin-top: 20px;
  float: none;
}
.navbar-inner{
  text-align: center;
}

// see http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3
.vertical-align {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) { 
  .row.vertical-align {
    display: block; /* turn off the flexible box layout */
  }
}

// used to colour the different enum status for an employee
.personStatus
  .unknown {
    color: $gray-lightest;
  }
.personStatus    
  .no-longer-employed {
    color: $gray-lighter;
  }
.personStatus    
  .standby {
    color: $brand-warning;
  }
.personStatus    
  .active {
    color: $brand-success;
  }

// make the navigation pill hover background match the primary button hover bg
.nav-pills > li.active > a:hover {
  background: darken($brand-primary, 15%);
}

// input[type="file"] {
//   position: absolute; left: -99999rem
// }

.file-uploader {
  padding-top: 20px;
  margin-top: 30px;
} 

.dropzone {
  width: 100%;
  height: 152px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: whitesmoke;
  border: 4px;
  border-style: dashed;
  border-color: $gray-lightest;
  opacity: 0.5;
  position: relative;
}
.dropzone-text {
  z-index: -1;
}

.is-dragging {
  border-style: solid;
  background-color: $gray-lightest;
  border-color: $gray-lighter;
  opacity: 0.5;
}

.dropzone::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: 'here';
}