@import "_variables";
@import "bootstrap";

body {
    padding-top: 20px;
}

// html {
//     overflow-y: scroll;
// }

.container-fluid {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

// BS3 navbar-fixed-top will not work for this navbar without messing up the layout
.navbar-fixed-top {
    margin-right: 25px !important;
    margin-left: 25px !important;
}
