// used to colour the different enum status for an employee
.employeeStatus {
  display: inline;
}
.employeeStatus
  .unknown {
    color: $gray-lightest;
  }
.employeeStatus    
  .no-longer-employed {
    color: $gray-lighter;
  }
.employeeStatus    
  .standby {
    color: $brand-warning;
  }
.employeeStatus    
  .active {
    color: $brand-success;
  }