// adjust the bootstrap media classes for our needs
.media {
  margin-top: 0;
}
.media-body {
  padding-top: 15px;
  padding-right: 15px;
}
.panel-default > .panel-heading {
  background-color: white;
  padding-top: 14px;
  padding-bottom: 14px;
}
.row.remove-margins {
  margin: 0px;
}

// following styles used in the trailcard
.trailcard {
  opacity: 0.5;
}
.trailcard.highlight {
  opacity: 1;
}
.trailcard-bg {
  position: relative;
  z-index: 0; // this is what allows us to see the background in the after element
}
.trailcard-bg::after {
  z-index: -1;
  content: "";
  top: 0;
  left: 150px;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('images/mountains-bg.jpg');
}
.btn-trailcard {
  background: transparent;
  margin-top: 45px;
  border-color: $gray-light;
}
.panel-footer.trailcard-footer {
  padding:0px;
}
.list-inline.trailcard-footer {
  padding-top: 12px;
}
.status-text-bg {
  background-color: $gray-lighter;    
  border: 1px;
  border-style: solid;
  border-color: $gray-light;
  padding-top: 2px;
  padding-bottom: 2px;    
}
.status-text {
  font-size: 1.1em;
  color: white;
}
.status-text-bg.published {
  background-color: $brand-primary;
}
.status-text-bg.draft {
  background-color: $gray-light;
}
.all-caps {
  text-transform: uppercase;
}
